:root {
	/* white */	
	--white-hue: 0deg;	
	--white-saturation: 14%;	
	--white-lightness: 93%;		
	--white-alpha: 100%;	
	--color-white-hsl: var(--white-hue), var(--white-saturation), var(--white-lightness);	
	--color-white-hsla: var(--color-white-hsl), var(--white-alpha);
		
	/* black */	
	--black-hue: 0deg;	
	--black-saturation: 25%;	
	--black-lightness: 10%;	
	--black-alpha: 100%;	
	--color-black-hsl: var(--black-hue), var(--black-saturation), var(--black-lightness);	
	--color-black-hsla: var(--color-black-hsl), var(--black-alpha);

	/* primary color */
	--color-primary-hue: 195deg;
	--color-primary-saturation: 100%;
	--color-primary-lightness: 50%;
	--color-primary-alpha: 100%;
	--color-primary-hsl: var(--color-primary-hue), var(--color-primary-saturation), 
		var(--color-primary-lightness);
	--color-primary-hsla: var(--color-primary-hsl), var(--color-primary-alpha);

	/* secondary color */
	--color-secondary-hue: 200deg;
	--color-secondary-saturation: 15%;
	--color-secondary-lightness: 73%;
	--color-secondary-alpha: 100%;

	--color-secondary-hsl: var(--color-secondary-hue), var(--color-secondary-saturation), 
		var(--color-secondary-lightness);
	--color-secondary-hsla: var(--color-secondary-hsl), var(--color-secondary-alpha);
}
