:root {
	/* white */
	--white-hue: 0deg;
	--white-saturation: 14%;
	--white-lightness: 93%;
	--white-alpha: 100%;

	--color-white-hsla: hsla(
		var(--white-hue),
		var(--white-saturation),
		var(--white-lightness),
		var(--white-alpha)
	);

	--color-white: var(--color-white-hsla);

	/* black */
	--black-hue: 0deg;
	--black-saturation: 25%;
	--black-lightness: 10%;
	--black-alpha: 100%;

	--color-black-hsla: hsla(
		var(--black-hue),
		var(--black-saturation),
		var(--black-lightness),
		var(--black-alpha)
	);

	--color-black: var(--color-black-hsla);

	/* primary color */
	--color-primary-hue: 195deg;
	--color-primary-saturation: 100%;
	--color-primary-lightness: 50%;
	--color-primary-alpha: 100%;

	--color-primary-hsla: hsla(
		var(--color-primary-hue),
		var(--color-primary-saturation),
		var(--color-primary-lightness),
		var(--color-primary-alpha)
	);

	/* Neutral */
	--color-primary: var(--color-primary-hsla);
	/* Light */
	--color-primary-light: hsla(
		var(--color-primary-hue),
		var(--color-primary-saturation),
		calc(var(--color-primary-lightness) + 10%),
		var(--color-primary-alpha)
	);
	/* Lighter */
	--color-primary-lighter: hsla(
		var(--color-primary-hue),
		var(--color-primary-saturation),
		calc(var(--color-primary-lightness) + 20%),
		var(--color-primary-alpha)
	);
	/* Dark */
	--color-primary-dark: hsla(
		var(--color-primary-hue),
		var(--color-primary-saturation),
		calc(var(--color-primary-lightness) - 10%),
		var(--color-primary-alpha)
	);
	/* Darker */
	--color-primary-darker: hsla(
		var(--color-primary-hue),
		var(--color-primary-saturation),
		calc(var(--color-primary-lightness) - 20%),
		var(--color-primary-alpha)
	);

	/* secondary color */
	--color-secondary-hue: 200deg;
	--color-secondary-saturation: 15%;
	--color-secondary-lightness: 73%;
	--color-secondary-alpha: 100%;

	--color-secondary-hsla: hsla(
		var(--color-secondary-hue),
		var(--color-secondary-saturation),
		var(--color-secondary-lightness),
		var(--color-secondary-alpha)
	);

	/* Neutral */
	--color-secondary: var(--color-secondary-hsla);
	/* Light */
	--color-secondary-light: hsla(
		var(--color-secondary-hue),
		var(--color-secondary-saturation),
		calc(var(--color-secondary-lightness) + 10%),
		var(--color-secondary-alpha)
	);
	/* Lighter */
	--color-secondary-lighter: hsla(
		var(--color-secondary-hue),
		var(--color-secondary-saturation),
		calc(var(--color-secondary-lightness) + 20%),
		var(--color-secondary-alpha)
	);
	/* Dark */
	--color-secondary-dark: hsla(
		var(--color-secondary-hue),
		var(--color-secondary-saturation),
		calc(var(--color-secondary-lightness) - 10%),
		var(--color-secondary-alpha)
	);
	/* Darker */
	--color-secondary-darker: hsla(
		var(--color-secondary-hue),
		var(--color-secondary-saturation),
		calc(var(--color-secondary-lightness) - 20%),
		var(--color-secondary-alpha)
	);
}
