:root {
	/* header */
    --header-height: 60px;

    /* main-container */
    /* start at height */
    --main-position-top: var(--header-height);

    /* team-page */
    /* team-page-profile-circle */
    --team-member-circle: 150px;
}