.projects-overview {
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;
}

.project {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	padding: 50px;
	text-align: center;
}

.project:hover {
	cursor: pointer;
	background-color: aliceblue;
}
