h1 {
	text-align: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	max-width: 20%;
	border-radius: 10px;
	margin: 30px;
	background-color: rgb(243, 190, 122);
}

.card > img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
	border-radius: 10px;
	padding: 0px 10px 5px 10px;
	background-color: rgb(243, 190, 122);
}

.card-text > p {
	font-size: 1.5vw;
	background-color: rgb(243, 190, 122);
}
.card-text > h4,
b {
	font-size: 2vw;
	background-color: rgb(243, 190, 122);
}

.team-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media all and (min-width: 960px) {
	.team-cards {
		display: flex;
		justify-content: center;
	}

	.card {
		flex: 0 0 33.3333%;
	}
}
