# Reference for the CODEOWNERS file
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#about-code-owners

*       @lax0248917 @Annerle @brndndev @mariushilleke @ojolanre @sarahdialmeida @xeho91