@charset "UTF-8";

/* Import library files */
@import "library/colors.css";
@import "library/fonts.css";

/* Basic styling */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: var(--color-secondary);
	font-family: var(--font-sans-serif);
	font-size: 16px;
}
