<!-- Header Menu of the Page -->
<header>
	<!-- Most of the above code will be replaced by components. This is a placeholder the header -->
	<!-- Top header menu containing 
	   logo and Navigation bar -->
	<div class="navbar">
		<div>
			<a href="#"><img id="logo" /></a>
		</div>
		<a class="link" href="#">Home</a>
		<a class="link" href="#">About Us</a>
		<a class="link" href="#">Projects</a>
		<a class="link" href="#">Blog</a>
		<a class="link" href="#">Contact Us</a>
	</div>

	<!-- Image menu in Header to contain an Image and  
         a sample text over that image -->
	<div id="header-image-menu"></div>
</header>
