<!-- Header Menu of the Page -->
<header>
	<!-- Most of the above code will be replaced by components. This is a placeholder the header -->
	<!-- Top header menu containing 
	   logo and Navigation bar -->
	<nav class="navbar">
		<div>
			<a href="#"><img id="logo" /></a>
		</div>
		<a class="link" href="#">Home</a>
		<a class="link" href="#">About Us</a>
		<a class="link" href="#">Projects</a>
		<a class="link" href="#">Blog</a>
		<a class="link" href="#">Contact Us</a>
	</nav>

	<!-- Image menu in Header to contain an Image and  
         a sample text over that image -->
	<div id="header-image-menu"></div>
</header>

<!-- Main area for the main content of the page. 
		For additional content and features -->
<main></main>

<!-- Footer section to contain the site map and copyright information.
		 Will be fixed to the bottom of the website (CSS)-->
<footer>
	<p>&#169; 2020 - Team Armadillo</p>
	<p>Site map should be placed here</p>
	<a href="https://github.com/TeamArmadilloOrg" class="fa fa-github"></a>
	<a href="https://twitter.com/lilly_armadillo" class="fa fa-twitter"></a>
</footer>
