<div id="team-header">
	<h1>Our Team</h1>
</div>
<div id="team-container">
	<img class="team-member-circle" src="../../images/anna.png" />
	<img class="team-member-circle" src="../../images/brandon.png" />
	<img class="team-member-circle" src="../../images/marius.png" />
	<img class="team-member-circle" src="../../images/matt.png" />
	<img class="team-member-circle" src="../../images/ojo.png" />
	<img class="team-member-circle" src="../../images/sarah.png" />
	<img class="team-member-circle" src="../../images/zach.png" />
</div>
