.navbar {
	overflow: hidden;
	background-color: var(--color-secondary-superlight);
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
    align-items: center;
}

.link {
	float: left;
	display: block;
	color: var(--color-primary-dark);
	text-align: center;
	padding: 15px 18px;
	text-decoration: none;
	font-size: 18px;
}

#logo {
	float: left;
	display: block;
	max-width: 50px;
	max-height: 50px;
	padding-left: 10px;
}

.navbar a:hover {
	color: var(--color-primary-light);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--color-secondary-superlight);
	text-align: center;
}

footer p {
	color: var(--color-primary-light);
}

.fa {
	padding: 15px;
	font-size: 35px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	color: var(--color-primary-darker);
  }

.fa-github, .fa-twitter {
	background: none;
	color: var(--color-primary-light);
}
