#team-container {
	display: flex;
	align-items: stretch;
	margin: 0 auto;
}

.team-member-circle {
	--team-member-circle: 150px;

	height: var(--team-member-circle);
	width: var(--team-member-circle);
	background-color: var(--color-secondary-darker);
	border-radius: 50%;
	display: inline-block;
	padding: 5px;
	margin: 10px;
}

.team-member-circle:hover {
	opacity: 0.65;
	cursor: pointer;
}
